:root {
    --bg: white;

    --sidebar: #007ebd;
    --sidebar-icon: #007ebd;

    --topbar: #007ebd;

    --leaderboard-listing: white;

    --leaderboard-first: gold;
    --leaderboard-second: silver;
    --leaderboard-third: rgb(165, 87, 42);

    --modal-title-background: #007ebd;
    --modal-content-background: var(--bg);
    --modal-rounding: 6px;

    --alert-color: #c32a2a;

    --chat-bg: #e6e6e6;
    --msg-color-bot: #9090ff;
    --msg-color-user: #c7c7c7;
}

a,
a:active {
    color: blue;
}

.hidden {
    display: none !important;
}

button {
    padding: 2px;
    border-radius: 13px;
    background-color: #282828;
    color: white;
    appearance: none;
}

input,
textarea {
    color: black;
    transition: border-color 0.5s;
    transition: color 0.5s;
    background: white;
}

input.bad-input,
textarea.bad-input {
    border-color: var(--alert-color) !important;
    color: var(--alert-color);
    color: var(--alert-color);
}

input::placeholder,
textarea::placeholder {
    transition: color 0.5s;
}

input.bad-input::placeholder,
textarea.bad-input::placeholder {
    color: var(--alert-color);
}

.daterangepicker {
    color: gray !important;
}

b.header {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/static/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-size: 1.4em;
    user-select: none;
}

body {
    margin: 0px;
    height: 100vh;

    color: black;
    background-color: var(--bg);
    font-family: helvetica;

    display: flex;
    flex-direction: column;
}

table .column-header {
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.034);
}

#topbar {
    display: flex;
    height: 64px;
    background-color: var(--topbar);
}

#topbar #logo {
    margin-top: 12px;
    margin-left: 10px;
    height: 32px;
    user-select: none;
    cursor: df;
}

#topbar #logo img {
    height: 100%;
}

#topbar h1 {
    color: white;
}

h2 {
    background-color: rgba(211, 211, 211, 0.5);
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    align-content: center;
}

.top-buttons {
    content: 20px;
    display: flex;
}

.bottom-buttons {
    content: 20px;
    display: flex;
}



.right h2 {
    margin-left: 0px;
}

.left {
    margin-bottom: 20px;
}

#topbar #logo h1 {
    display: inline;
    margin: 0px;
    margin-left: 2px;
    bottom: 7px;
    position: relative;
}

#searchbar {
    background-color: white;
    position: relative;
    width: calc(100% - 16px);
    height: 32px;
    border-radius: 180px;
    padding: 5px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.searchbar input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: black;
}

/* Suggestions */
.search-suggestions {
    position: absolute;
    width: 100%;
    overflow-y: auto;
}

.search-suggestions .suggestion {
    width: 100%;
    background-color: white;
    margin: 0px 5px;
    padding: 5px 5px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.search-suggestions .suggestion .bottom {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
#sidebar-cont {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

#sidebar {
    background-color: var(--sidebar);
}

.sidebar-icon {
    background-color: var(--sidebar-icon);
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    padding: 2px;
    user-select: none;
}

.sidebar-icon.selected {
    background-color: #006a9e;
}

#content {
    margin-left: 6px;
    flex-grow: 1;
}

[tab-id]:not(.selected) {
    display: none;
}

[tab-id] {
    height: 100%;
}

[tab-id="home"],
[tab-id="leaderboard"],
[tab-id="students"] {
    display: flex;
}

[tab-id="home"]>div,
[tab-id="leaderboard"]>div,
[tab-id="students"]>div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.leaderboard {
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    margin-left: 10px;
}

.leaderboard .listing {
    background-color: var(--leaderboard-listing);
    display: flex;
    justify-content: space-between;
    transition: filter 0.1s;
}

.leaderboard .listing:hover {
    filter: brightness(125%);
}

.leaderboard .listing .place {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 48px;
    width: 48px;
    color: lightgray
}

.leaderboard .listing:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.5);
}

.leaderboard .listing:nth-child(1) .place {
    background-color: var(--leaderboard-first);
    color: white
}

.leaderboard .listing:nth-child(2) .place {
    background-color: var(--leaderboard-second);
    color: white
}

.leaderboard .listing:nth-child(3) .place {
    background-color: var(--leaderboard-third);
    color: white
}

.leaderboard .listing:nth-child(1) {
    background-color: rgba(255, 217, 0, 0.247);
}

.leaderboard .listing:nth-child(2) {
    background-color: rgba(192, 192, 192, 0.247);
}

.leaderboard .listing:nth-child(3) {
    background-color: rgb(165, 87, 42, 0.247);
    ;
}

.leaderboard .listing .place {
    background-color: #313131;
}

.leaderboard .listing .name {
    font-size: 22px;
    margin-left: 10px;
}

.leaderboard .listing .grade {
    opacity: 0.7;
    margin-left: 9px;
    font-size: 12px;
}

.leaderboard .listing .points {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-right: 8px;
}

.label {
    display: block;
    color: gray;
    font-weight: bold;
}

#draw-bay {
    position: relative;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 15px;
    margin-top: 14px;
}

#draw-bay>.label {
    position: absolute;
    top: -15px;
    left: 1em;
    background-color: var(--bg);
}

#draw-bay>p {
    opacity: 0.9;
    font-size: 10px;
    margin: 0px;
}

#draw-bay>button {
    display: block;
    width: 100%;
    height: 42px;
}

[help-text]::after {
    font-family: "Material Icons";
    font-size: 1.4em;
    content: "help";
    font-weight: normal;
    position: relative;
    top: 5px;
}

/* Modals */
#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0px;
    top: 0px;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: 120;
}

modal {
    display: flex;
    flex-direction: column;
}

modal .titlebar {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 48px;

    font-size: 20px;
    font-weight: bold;

    background-color: var(--modal-title-background);
    border-radius: var(--modal-rounding) var(--modal-rounding) 0px 0px;

    cursor: default;
    user-select: none;
}

modal .titlebar span {
    position: relative;
    top: 3px;
    color: white;
}

modal-content {
    display: block;
    flex-grow: 1;

    padding: 10px;
    padding-top: 0px;

    min-width: 50vw;
    /*min-height: 40vh;*/

    background-color: var(--modal-content-background);
    border-radius: 0px 0px var(--modal-rounding) var(--modal-rounding);
}

#winner-cont table {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.button:nth-child(1) {
    /* Hack */
    margin-right: 10px;
}

.button {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 32px;
    font-weight: bold;
    background-color: #007ebd;
    color: white;
}


.cancel {
    background-color: var(--alert-color);
}

.button:hover {
    filter: brightness(120%);
}

.button.primary {
    background-color: var(--modal-title-background);
}

.up-down {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.prize {
    display: flex;
    height: 32px;
    padding-right: 10px;
}

.inline-input {
    appearance: none;
    outline: none;
    background-color: transparent;
}

.prize .desc {
    flex-grow: 1;
}

.prize .points {
    width: 64px;
}

.prize .delete-btn {
    display: inline-flex;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    /* top: 6px; */
    left: 2px;
}

.prize .delete-btn:hover {
    opacity: 1.0 !important;
}

[modal-id="prize-editor"] {
    padding-left: 0px;
    padding-right: 0px;
}

[modal-id="event-creator"] #event-name,
[modal-id="event-viewer"] #event-name {
    display: block;
    margin-top: 5px;
    font-size: 28px;
    width: 100%;
}

[modal-id="event-creator"] #event-desc,
[modal-id="event-viewer"] #event-desc {
    width: 100%;
    resize: none;
}

[modal-id="event-creator"] .buttons,
[modal-id="event-viewer"] .buttons {
    margin-top: 6px;
}

#mini-events .listing {
    margin-left: 4px;
    margin-bottom: 12px;
}

#mini-events .listing:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.5);
}

#mini-events .listing .name {
    font-weight: bold;
    font-size: 24px;
    display: block;
}

#mini-events .listing .desc {
    display: block;
    font-style: italic;
    font-size: 14px;
    opacity: 0.7;
}

#mini-events .listing .location {
    opacity: 0.8;
}

#mini-events .listing .location::before {
    font-family: "Material Icons";
    content: "location_on";
}

#mini-events .listing {
    cursor: pointer;
}

.right {
    margin-left: 10px;
    overflow-y: auto;
}

#add-event-in-listing {
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
    margin: 4px;
}

#add-event-in-listing .material-icons {
    position: relative;
    top: 3px;
}

#add-event-in-listing .text {
    position: relative;
    bottom: 3px;
}

[modal-id="event-viewer"] .header {
    opacity: 0.7;
}

.split {
    display: flex;
}

.split>div {
    flex: 1 1 0;
}

#add-student-button {
    flex-grow: 0;
    min-height: 32px;
}

[modal-id="event-viewer"] .padding {
    flex-grow: 1;
}

[modal-id="event-viewer"] .left {
    margin-right: 10px;
}

[modal-id="event-viewer"] .right {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

#student-editor-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#student-creator-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#upload.batch-add {
    flex: 1 1 0;
    content: 100px 20px;
    display: flex;
}

h1.login {
    margin-top: 25px
}

.login {
    display: grid;
    margin-top: 0;
    justify-content: center;
}

#login-content {
    margin: 125px 450px 25px 450px;
    background-color: white;
    border-radius: 10%;
    outline-width: 1px;
    outline-color: black;
}

#login-body {
    background-image: url('/static/edited_login_photo_background.jpg');
}

/* Interactive Q&A */
#qna-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#help-button {
    background-color: red;
    color: white;

    border: 2px solid white;
    border-radius: 120px;

    width: 1em;
    height: 1em;

    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;

    cursor: pointer;
}

#qna-chat {
    /* TODO: Be wary of these hard-coded pixel sizes... */
    width: 300px;
    height: 50vh;

    display: flex;
    flex-direction: column;
}

#chat-messages {
    background-color: var(--chat-bg);
    flex-grow: 1;
    overflow-y: auto;
}

.chat-message-wrapper {
    display: flex;
    justify-content: space-between;
}

.chat-message {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-top: 5px;
    padding-bottom: 3px;

    padding-left: 7px;
    padding-right: 7px;

    /* TODO: Message tails? */
    border-radius: 6px;

    --opposing-margin: 50px;
    --close-margin: 3px;
}

.chat-message.user {
    background-color: var(--msg-color-user);
    margin-left: var(--opposing-margin);
    margin-right: var(--close-margin);

    /* HACK: Kinda simulate message tails */
    border-bottom-right-radius: 0px;
}

.chat-message.bot {
    background-color: var(--msg-color-bot);
    margin-right: var(--opposing-margin);
    margin-left: var(--close-margin);

    /* HACK: Kinda simulate message tails */
    border-bottom-left-radius: 0px;
}

#chat-topbar {
    color: white;
    background-color: var(--sidebar);
    position: relative;
    text-align: center;
    padding: 5px;
    font-weight: bold;

    --smoothing: 8px;

    border-top-left-radius: var(--smoothing);
    border-top-right-radius: var(--smoothing);
}

#close-qna-button {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

#chat-input {
    /* TODO: More styling? */
    outline: none;
    border: 1px solid gray;
    border-right: none;
}

/* Typing indicator */
#typing-indicator {
    opacity: 0.8;
    font-style: italic;
}

.highlight {
    animation: highlight-shadow 1.5s;
}

@keyframes highlight-shadow {
    from {
        box-shadow: 0 0 400px 500px white;
    }

    to {
        box-shadow: 0 0 0px black;
    }
}

#myProgress {
    width: 100%;
    background-color: lightgrey;
    border-radius: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #myBar {
    width: 1%;
    border-radius: 500px;
    height: 30px;
    background-color: green;
    border-radius: 20%;
  }

  .dropdown {
    font-size: 25px;
    float: right;;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    margin-top: 0px;
    font-size: 25px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropbtn {filter: brightness(50%);}


/* Search Panel */

#search-panel {
    display: flex;
    margin-left: 10px;
    background-color: rgba(211, 211, 211, 0.5);
}

#search-input {
    flex-grow: 1;
}

#grade-filter {
    /* display: inline-block; */
    display: inline-grid;
    grid-template-columns: auto auto;
}

#grade-filter .grade-filter-row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 15px;
}

#grade-filter .grade-filter-row>* {
    /* HACK: Weirdness going on here */
    cursor: pointer;
}

#search-panel #grade-filter .grade-filter-row label {
    margin-right: 15px;
    user-select: none;
}