:root {
    --bg: #181818;

    --sidebar: #232323;
    --sidebar-icon: #303030;

    --topbar: #111111;

    --leaderboard-listing: #232323;

    --leaderboard-first: gold;
    --leaderboard-second: gray;
    --leaderboard-third: brown;
}

button {
    padding: 2px;
    border-radius: 13px;
    background-color: #282828;
    color: white;
    appearance: none;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/static/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-size: 1.4em;
}

body {
    margin: 0px;
    height: 100vh;

    color: white;
    background-color: var(--bg);
    font-family: helvetica;

    display: flex;
    flex-direction: column;
}

#topbar {
    display: flex;
    height: 64px;
    background-color: var(--topbar);
}

#topbar > h1 {
    margin-top: 12px;
    margin-left: 15px;
}

#searchbar {
    background-color: #282828;
    position: relative;
    width: 40%;
    height: 32px;
    border-radius: 180px;
    padding: 5px 8px;
    margin-top: 11px;
    margin-left: 20px;
}

#searchbar input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}

/* Suggestions */
#search-suggestions {
    position: absolute;
    width: 100%;
}

#search-suggestions .suggestion {
    width: 100%;
    background-color: #232323;
    margin: 0px 5px;
}

#search-suggestions .suggestion .bottom {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
#sidebar-cont {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

#sidebar {
    background-color: var(--sidebar);
}

.sidebar-icon {
    background-color: var(--sidebar-icon);
    font-size: 1.8em;
    cursor: pointer;
    padding: 2px;
    /*margin-bottom: 6px;*/
}

.sidebar-icon.selected {
    filter: brightness(150%);
}

#content {
    margin-left: 6px;
    flex-grow: 1;
}

[tab-id]:not(.selected) {
    display: none;
}

[tab-id] {
    height: 100%;
}

[tab-id="home"],
[tab-id="leaderboard"] {
    display: flex;
}

[tab-id="home"] > div,
[tab-id="leaderboard"] > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.leaderboard {
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

.leaderboard .listing {
    background-color: var(--leaderboard-listing);
    display: flex;
    justify-content: space-between;
}

.leaderboard .listing .place {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 48px;
    width: 48px;
}

.leaderboard .listing:nth-child(1) .place {
    background-color: var(--leaderboard-first);
}

.leaderboard .listing:nth-child(2) .place {
    background-color: var(--leaderboard-second);
}

.leaderboard .listing:nth-child(3) .place {
    background-color: var(--leaderboard-third);
}

.leaderboard .listing .place {
    background-color: #313131;
}

.leaderboard .listing .name {
    font-size: 22px;
}

.leaderboard .listing .grade {
    opacity: 0.7;
    margin-left: 9px;
    font-size: 12px;
}

.leaderboard .listing .points {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-right: 8px;
}

.label {
    display: block;
    color: gray;
    font-weight: bold;
}

#draw-bay {
    position: relative;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 15px;
    margin-top: 14px;
}

#draw-bay > .label {
    position: absolute;
    top: -15px;
    left: 1em;
    background-color: var(--bg);
}

#draw-bay > p {
    opacity: 0.9;
    font-size: 10px;
    margin: 0px;
}

#draw-bay > button {
    display: block;
    width: 100%;
    height: 42px;
}

[help-text]::after {
    font-family: "Material Icons";
    font-size: 1.4em;
    content: "help";
    font-weight: normal;
    position: relative;
    top: 5px;
}
