<h3>Adding Students</h3>
<div id="docs-adding-students">
    Spirit allows for two ways of importing students through the user interface.<br>
    The <a element="#add-student">Add Student button</a> lets you add students one at a time through the right-hand
    information panel.<br>
    Its neighboring button, the <a element="#batch-add-button">Batch Add button</a>, allows you to batch-import students
    by means of uploading a CSV file.
</div>

<h3>Adding Events</h3>
<div id="docs-adding-events">
    Using the <a element="#add-event-in-listing">Add Event button</a>, new events can be created.
    The menu has inputs for an event name, an optional event description, a location, a time range, and a point value.
    This information can be confirmed by pressing the Create Event button in the modal.
</div>

<h3>Editing Events</h3>
<div id="docs-editing-events">
    Clicking an event in the event listing opens a similar menu to the Add Event menu, but with a few differences.
    Notably, there is a search box where students can be selected to be marked for attendance.
</div>

<h3>Editing Students</h3>
<div id="docs-editing-students">
    The <a element="#student-name">Student Info panel</a> in the students tab allows you to modify the many attributes of the students in the database.
    Using this page, one can control the name, grade, points and email of any given student.
</div>

<h3>Advanced Student Operations</h3>
<div id="docs-advanced-student-ops">
    The <a element="#student-name">Student Info panel</a> in the students tab also 
    Using this page, one can control the name, grade, points and email of any given student.
</div>