<!DOCTYPE html>
<html>

<head>
    <title>Spirit</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/favicon.png">

    <!-- Deps -->
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/moment.min.js"></script>
    <script src="/static/libs/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="/static/libs/daterangepicker.css">
    <script src="/static/util.js"></script>
</head>

<body>
    {% include "topbar.html" %}
    <div id="sidebar-cont">
        {% include "sidebar.html" %}
        <div id="content">
            <div tab-id="home">
                <div class="left">
                    <h1 id="greeting">Good afternoon, {{ session['username'] }}</h1>
                    <h2>Leaderboard
                        <div id="dropdown" class="dropdown">
                            <h2 class="dropbtn material-icons">sort</h2>
                            <div class="dropdown-content">
                                <label for="score">Score</label>
                                <input type="text" id="score">
                                <label for="rank">Rank</label>
                                <input type="text" name="rank" id="rank">
                                <label for="limit">Limit</label>
                                <input type="number" min="1" id="limit">
                                <button class="button primary" onclick="applyFilters()">Apply</button>
                            </div>
                        </div>
                    </h2>

                    <div id="mini-leaderboard" class="leaderboard"></div>
                </div>
                <div class="right">
                    <h2>Events</h2>
                    <div id="mini-events">
                        <div id="add-event-in-listing">
                            <span class="material-icons">add</span>
                            <span class="text">New Event</span>
                        </div>
                    </div>
                </div>
            </div>
            <div tab-id="students">
                <div class="left">
                    <h1>Students</h1>
                    <h2>Leaderboard</h2>
                    {% include "search-panel.html" %}
                    <div id="mini-leaderboard-students" class="leaderboard"></div>
                </div>
                <div class="right student-viewer">
                    <h1>Info</h1>
                    <b class="header">Name</b>
                    <input type="text" placeholder="Select a student to edit" id="student-name">
                    <b class="header">Grade</b>
                    <input type="number" placeholder="Select a student to edit" id="student-grade">
                    <b class="header">Points</b>
                    <input type="number" placeholder="Select a student to edit" id="student-points">
                    <b class="header">Email</b>
                    <input type="text" placeholder="Select a student to edit" id="student-email">
                    <div id="student-editor-buttons">
                        <div class="top-buttons">
                            <button onclick="saveStudent()" class="button primary">Save</button>
                            <button onclick="resetStudent()" class="button primary">Reset Changes</button>

                        </div>
                        <div class="bottom-buttons">
                            <button id="cancel" onclick="cancelStudent()" class="button cancel">Cancel</button>
                            <button id="delete-student-button" class="button cancel">Delete</button>
                        </div>
                    </div>
                    <div id="student-creator-buttons">
                        <div class="top-buttons">
                            <button id="save-student" class="button primary">Save Student</button>
                        </div>
                        <div class="bottom-buttons">
                            <button id="cancel" class="button cancel">Cancel</button>
                        </div>
                    </div>
                    <div id="student-default-buttons">
                        <div class="top-buttons">
                            <button id="add-student" class="button primary">Add Student</button>
                            <button id="batch-add-button" class="button primary" onclick="showModal('batch-add')">Batch
                                Add</button>
                        </div>
                    </div>
                    <div>
                        <h2>Advanced</h2>
                        <div id="advanced-buttons-div">
                            <button id="delete-seniors" class="button primary cancel advanced-buttons">Delete Seniors</button>
                            <button id="zero-scores" class="button primary cancel advanced-buttons">Set All Students to Zero</button>
                        </div>
                    </div>

                </div>
            </div>
            <div tab-id="leaderboard">
                <div class="left">
                    <h1>Prizes</h1>
                    <h2>Leaderboard</h2>
                    <div id="leaderboard" class="leaderboard"></div>
                    <div id="draw-bay">
                        <span class="label"
                            help-text="The student with the most accumulated points will be deemed the first place winner. Other winners are randomly drawn from event attendees of each grade level. The number of points a student has accumulated determines which prize they will recieve.">
                            Draw Prizes
                        </span>
                        <button id="draw-prizes-button">Draw Prizes</button>
                        <button id="edit-prizes-button">Edit Prizes</button>
                    </div>
                </div>
                <div class="right">
                    <h1>Statistics</h1>
                    <canvas id="ch-att-ratio-by-grade"></canvas>
                    <canvas id="ch-avg-att-by-grade"></canvas>
                    <canvas id="ch-points-by-grade"></canvas>
                </div>
            </div>
            <div tab-id="documentation">
                {% include "docs.html" %}
            </div>
            <div tab-id="inbox">
                <h1>Inbox</h1>
                <h2>New Messages</h2>
                <div id="mail"></div>
            </div>
            {% if session["role"] == "ADMINISTRATOR" %}
            <div tab-id="audit-log">
                {% include "audit-log.html" %}
            </div>
            {% endif %}

        </div>
    </div>
    {% include "modals.html" %}

    <div id="qna-container">
        <div id="help-button" class="material-icons" title="Interactive Help">
            live_help
        </div>
        <div id="qna-chat" class="hidden">
            <div id="chat-topbar">
                <span>Interactive Help</span>
                <span id="close-qna-button" class="material-icons">close</span>
            </div>
            <div id="chat-messages">
            </div>
            <span id="typing-indicator"></span>
            <input id="chat-input" placeholder="Ask a question" />
        </div>
    </div>

    <div id="notification-container"></div>

    <script src="/static/libs/chartjs/dist/chart.umd.js"></script>
    <script src="/static/index.js"></script>
    <script src="/static/leaderboard.js"></script>
    <script src="/static/events.js"></script>
    <script src="/static/students.js"></script>
    <script src="/static/docs.js"></script>
    <script src="/static/qna.js"></script>
    <script src="/static/notifications.js"></script>
</body>

</html>