<!DOCTYPE html>
<html>

<head>
    <title>Spirit</title>
    <link rel="stylesheet" href="/static/index2.css">
    <link rel="icon" href="/static/favicon.png">
    <script src="/static/util.js"></script>
</head>

<body>
    {% include "topbar.html" %}
    <div id="sidebar-cont">
        {% include "sidebar.html" %}
        <div id="content">
            <div tab-id="home">
                <div class="left">
                    <h1 id="greeting">Good afternoon, {{ user_name }}</h1>
                    <h2>Leaderboard</h2>
                    <div id="mini-leaderboard" class="leaderboard"></div>
                </div>
                <div class="right">
                    <h2>Events</h2>
                    <div id="mini-events"></div>
                </div>
            </div>
            <div tab-id="events">
                <h1>Events</h1>
            </div>
            <div tab-id="leaderboard">
                <div class="left">
                    <h1>Leaderboard</h1>
                    <div id="leaderboard" class="leaderboard"></div>
                    <div id="draw-bay">
                        <span class="label"
                            help-text="The student with the most accumulated points will be deemed the first place winner. Other winners are randomly drawn from event attendees of each grade level. The number of points a student has accumulated determines which prize they will recieve.">
                            Draw Prizes
                        </span>
                        <button id="draw-prizes-button">Draw Prizes</button>
                    </div>
                </div>
                <div class="right"></div>
            </div>
        </div>
    </div>
    {% include "modals.html" %}
    <script src="/static/index.js"></script>
    <script src="/static/leaderboard.js"></script>
</body>

</html>
