<!DOCTYPE html>
<html>
<head>
    <title>Spirit</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/util.js"></script>
</head>
<body>
    {% include "topbar.html" %}
    <div id="sidebar-cont">
        {% include "sidebar.html" %}
        <div id="content">
            <div tab-id="home">
                <div class="left">
                    <h1>Welcome, Evil Creature</h1>
                    <h2>Leaderboard</h2>
                    <div id="mini-leaderboard"></div>
                </div>
                <div class="right">
                    <h2>Events</h2>
                    <div id="mini-events"></div>
                </div>
            </div>
            <div tab-id="events">
                <h1>EVEEEEEEEnts</h1>
            </div>
            <div tab-id="leaderboard">
                <h1>leaaAAADERBOARD</h1>
            </div>
        </div>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
