<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spirit - Login</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/favicon.png">

    <!-- Deps -->
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/moment.min.js"></script>
    <!-- <script src="/static/libs/daterangepicker.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/static/libs/daterangepicker.css"> -->
    <script src="/static/util.js"></script>
</head>
<body id="login-body">
    {% include "topbar.html" %}

    <div id="login-content" class="login-register-box">
        <h1 class="login">Welcome to Spirit!</h1>
        <form method="post" id="login" class="login">
            <label for="username" class="login box-content">Username or Email</label>
            <input type=text  id="username" class="box-content" name=username>
            <label for="password" class="login box-content">Password</label>
            <input type=password id="password" class="box-content" name=password>
            <input type=submit id="submit-login" class="button primary box-content" value=Login>
        </form>
        <a class="link" href="{{ url_for('register') }}">Register</a>
        <a class="link">Forgot Password</a>
    </div>
    
    <script>$el("#logout").style.display = "none";</script>
</body>
</html>
