<div id="modal-container">
    <modal-content modal-id="prize-winners" modal-title="Prize Winners">
        <h2>Congratulations to the following winners:</h2>
        <div id="winner-cont"></div>
    </modal-content>

    <modal-content modal-id="no-prizes" modal-title="No Prizes">
        <div class="up-down">
            <p>The prize pool is empty! Please add prizes.</p>
            <div class="buttons">
                <div id="add-prizes-button" class="button primary">Add Prizes</div>
                <div onclick="closeModals();" class="button">Cancel</div>
            </div>
            <div id="winner-cont"></div>
        </div>
    </modal-content>

    <modal-content modal-id="prize-editor" modal-title="Prizes">
        <div id="prize-container">
            <div id="add-prize-cont" class="prize">
                <span class="delete-btn material-icons">add</span>
            </div>
        </div>
    </modal-content>

    <modal-content modal-id="event-creator" modal-title="New Event">
        <input id="event-name" placeholder="Event Name">

        <b class="header">Description</b>
        <textarea id="event-desc"
            placeholder="Write the description for the new event here. This could include things such as the reason for holding the event, special guests, or any other useful notes."></textarea>

        <!-- TODO: Dynamic gps lookup -->
        <!-- https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete -->
        <b class="header">Location</b>
        <input id="event-location" placeholder="Location">

        <b class="header">Time</b>
        <input id="event-daterange" name="datetimes">

        <b class="header">Points</b>
        <input id="event-points" min="1" type="number" placeholder="Points worth" title="How many points students will be given to attend this event.">

        <div class="buttons">
            <div id="create-event-button" class="button primary">Create Event</div>
            <div onclick="closeModals();" class="button">Cancel</div>
        </div>
    </modal-content>
</div>
<script src="/static/modals.js"></script>

<script>
    $(function () {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'M/DD hh:mm A'
            }
        });
    });
</script>
<script>showModal("event-creator");</script>
