<div id="modal-container">
    <modal-content modal-id="prize-winners" modal-title="Prize Winners">
        <h2>Congratulations to the following winners:</h2>
        <div id="winner-cont"></div>
    </modal-content>

    <modal-content modal-id="no-prizes" modal-title="No Prizes">
        <div class="up-down">
            <p>The prize pool is empty! Please add prizes.</p>
            <div class="buttons">
                <div id="add-prizes-button" class="button primary">Add Prizes</div>
                <div onclick="closeModals();" class="button" id="cancel">Cancel</div>
            </div>
            <div id="winner-cont"></div>
        </div>
    </modal-content>

    <modal-content modal-id="prize-editor" modal-title="Prizes">
        <div id="prize-container">
        </div>
    </modal-content>

    <modal-content modal-id="event-creator" modal-title="New Event">
        <input id="event-name" placeholder="Event Name">

        <b class="header">Description</b>
        <textarea id="event-desc"
            placeholder="Write the description for the new event here. This could include things such as the reason for holding the event, special guests, or any other useful notes."></textarea>

        <!-- TODO: Dynamic gps lookup -->
        <!-- https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete -->
        <b class="header">Location</b>
        <input id="event-location" placeholder="Location">

        <b class="header">Time</b>
        <input id="event-daterange" name="datetimes">

        <b class="header">Points</b>
        <input id="event-points" min="1" type="number" placeholder="Points worth"
            title="How many points students will be given to attend this event.">

        <div class="buttons">
            <div id="create-event-button" class="button primary">Create Event</div>
            <div onclick="closeModals();" class="button" id="cancel">Cancel</div>
        </div>
    </modal-content>

    <modal-content modal-id="event-viewer" modal-title="Event">
        <input id="event-name" placeholder="Event Name">

        <b class="header">Description</b>
        <textarea id="event-desc"
            placeholder="Write the description for the new event here. This could include things such as the reason for holding the event, special guests, or any other useful notes."></textarea>

        <div class="split">
            <div class="left">
                <!-- TODO: Dynamic gps lookup -->
                <!-- https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete -->
                <b class="header">Location</b>
                <input id="event-location" placeholder="Location">

                <b class="header">Time</b>
                <input id="event-daterange" name="datetimes">

                <b class="header">Points</b>
                <input id="event-points" min="1" type="number" placeholder="Points worth"
                    title="How many points students will be given to attend this event.">

            </div>
            <div class="right">
                <div class="padding"></div>
                <b class="header">Special Occasion</b>
                <select>
                    <option>None</option>
                    <option>Award Ceremony</option>
                    <option>Competition</option>
                    <option>Performance</option>
                </select>

                <b class="header">Attendance</b>
                <div class="searchbar">
                    <input class="search-input"></input>
                    <div class="search-suggestions"></div>
                </div>
                <div id="add-student-button" class="button primary">Add Attendee</div>
            </div>
        </div>
        <div class="buttons">
            <div id="save-event-button" class="button primary">Save Event</div>
            <div onclick="closeModals();" class="button" id="cancel">Cancel</div>
        </div>
    </modal-content>

    <modal-content modal-id="confirm" id="confirm-delete" modal-title="Confirmation">
        <h1 id="confirm-prompt">Are you sure you want to delete student?</h1>
        <div class="bottom-buttons">
            <button id="cancel" class="button cancel" onclick="closeModals();">Cancel</button>
            <button id="delete" class="button cancel">Delete</button>
        </div>
    </modal-content>

    <modal-content modal-id="batch-add" id="batch-add" modal-title="Batch Add">
        <h1>Import from Excel, Google Sheets, or CSV</h1>
        <input id="file" name="file" type="file" />
        <button id="upload" class="button primary batch-add">Upload</button>
        <button id="cancel" class="button cancel" onclick="closeModals();">Cancel</button>
    </modal-content>
    <!-- <modal-content modal-id="student-viewer" modal-title="Edit Student">
        <input id="student-name" placeholder="Student Name">

        <div class="split">
            <div class="left">
                TODO: Dynamic gps lookup
                https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
                <b class="header">Grade</b>
                <input id="student-grade" placeholder="Grade">

                <b class="header">Points</b>
                <input id="student-points" min="1" type="number" placeholder="Points"
                    title="How many points students will be given to attend this event.">

            </div>
            <div class="right">
                <div class="padding"></div>
                <b class="header">Special Occasion</b>
                <select>
                    <option>None</option>
                    <option>Award Ceremony</option>
                    <option>Competition</option>
                    <option>Performance</option>
                </select>

                <b class="header">Attendance</b>
                <div class="searchbar">
                    <input class="search-input"></input>
                    <div class="search-suggestions"></div>
                </div>
                <div id="add-student-button" class="button primary">Add Attendee</div>
            </div>
        </div>
        <div class="buttons">
            <div id="save-event-button" class="button primary">Save Event</div>
            <div onclick="closeModals();" class="button" id="cancel">Cancel</div>
        </div>
    </modal-content> -->
</div>
<script src="/static/modals.js"></script>
<script src="/static/search-suggest.js"></script>