<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spirit - Login</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/favicon.png">

    <!-- Deps -->
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/moment.min.js"></script>
    <!-- <script src="/static/libs/daterangepicker.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/static/libs/daterangepicker.css"> -->
    <script src="/static/util.js"></script>
    <script src="/static/register.js"></script>
</head>
<body id="login-body">
    {% include "topbar.html" %}

    <div id="choose-role" class="login-register-box">
        <h1 class="choose-role-header">Who are you?</h1>
        <div class="choose-role-container">
            <button id="register-as-student-button" class="button primary register-button" onclick="showStudentRegister()">Student</button>
            <button class="button primary register-button" onclick="showAdminRegister()">Administrator</button>
        </div>
        <a href="{{url_for('login')}}"></a>
    </div>


    <div id="register-student" class="login-register-box register">
        <p><h1 class="login">Welcome to Spirit!</h1>
        <form method="post" id="login" class="login">
            <label for="username" class="login box-content">Username</label>
            <input type=text  id="username" class="box-content" name=username>
            <label for="email" class="login box-content">Email</label>
            <input type="text" id="email" class="box-content" name="email">
            <label for="password" class="login box-content">Password</label>
            <input type=password id="password" class="box-content" name=password>
            <label for="school-id" class="login box-content">School ID</label>
            <input type="number" class="box-content" name="school-id" id="school-id">
            <label for="grade" class="login box-content">Grade</label>
            <input type="number" min="9" max="12" class="box-content" name="grade" id="grade">

            <input type="hidden" name="role" value="STUDENT">
            <input type=submit id="submit-login" name="register-student" class="button primary box-content" value=Register>
        </form>
    </div>


    <div id="register-admin" class="login-register-box register">
        <p><h1 class="login">Welcome to Spirit!</h1>
        <form method="post" id="login" class="login">
            <label for="username" class="login box-content">Username</label>
            <input type=text  id="username" class="box-content" name=username>

            <label for="email" class="login box-content">Email</label>
            <input type="text" id="email" class="box-content" name="email">

            <label for="password" class="login box-content">Password</label>
            <input type=password id="password" class="box-content" name=password>

            <div class="login box-content" style="display: inline-block;">
                <input type="checkbox" id="create-checkbox" name="Create" onclick="appear();">
                <label for="Create">Create New School</label>
            </div>

            <label for="schoolname" class="school-name login box-content" id="school-name-label">School Name</label>
            <input type="text" name="school-name" class="school-name box-content" id="school-name">

            <label for="school-id" class="login box-content">School ID</label>
            <input type="number" class="box-content" name="school-id" id="school-id">

            <input type="hidden" name="role" value="ADMINISTRATOR">

            <input type=submit id="submit-login" name="register-student" class="button primary box-content" value=Register>
        </form>
    </div>


    <script>$el("#logout").style.display = "none";</script>
</body>
</html>