<div id="sidebar">
    <div
        class="sidebar-icon material-icons"
        title="Home"
        sidebar-button="home"
    >
        home
    </div>

    <!-- <div
        class="sidebar-icon material-icons"
        title="Events"
        sidebar-button="events"
    >
        sports_tennis
    </div> -->

    <div
        class="sidebar-icon material-icons"
        title="Leaderboard"
        sidebar-button="leaderboard"
    >
        leaderboard
    </div>
</div>
<script src="/static/tabs.js"></script>
